body{
background-image: url(images/2.jpg);
background-color: white;
font-family: Georgia, 'Times New Roman', Times, serif;
margin:0;
}
header{
background-color:#fff;
}

.banner{
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}
#logo{
  float:left;
    width:100px;
     height:100px;
}
.forma{
background-color:#fff;
    margin: 0 auto;
     margin-top:20px;
      padding:10px;
}
footer{
  width:100%;
  background-color: #fff;
  padding: 10px;
  margin-top:20px;
  height:120px;
  position: fixed;
  bottom: 0px;

}
